*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    font-weight: bolder;
    font-style: normal;
    src: url("../fonts/Inter_18pt-Black.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-weight: lighter;
    font-style: normal;
    src: url("../fonts/Inter_18pt-Light.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/Inter_18pt-Italic.ttf") format("truetype");
}


body {
    background-image: url('../img/background.svg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100dvh;
    width: 100vw;
    padding: 50px 80px;

    font-family: Inter;

    position: relative;
}

#kc-page-title {
    display: none;
}


#kc-header-wrapper {
    position: relative;
    color: #EAECC6;
    font-family: Inter;
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
    text-transform: capitalize;
    z-index: 99999;
}

#kc-header-wrapper::before {
    content: "";
    background-image: url('../img/presences.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    width: 30px; 
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

#kc-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    padding: 10px;
    border-radius: 12px;
    
    background: rgba(205, 205, 205, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border: 1px solid rgb(0,0,0, 0.1) ;

    display: flex;
    gap: 35px;

}



.alert-error {
    color: rgba(209, 9, 9, 1);;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid rgba(209, 9, 9, 0.5);
    margin-bottom: 10px;
}

#kc-form-wrapper {
    display: flex;
    gap: 20px;
}


.card {
    background-image: url('../img/card_background.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #D0DD2A;
    border-radius: 12px;
    width: 400px;
}

form  {
    width: 400px;
    padding: 120px 0 120px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: Inter;
    
}

.form-header > h2 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: bold;
}

.form-header > p {
    opacity: 0.8;
    font-size: 14px;
}

.inputs {
    display: inherit;
    flex-direction: inherit;
    gap: 8px;
}

label {
    font-size: 14px;
    font-weight: lighter;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    margin-top: 2px;
}
#password {
    padding: 6px 42px 6px 12px;
}

input[type="submit"] {
    float: right;
    color: white;
    background: rgba(27, 18, 55, 0.9);
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
}
input[type="submit"]:hover {
    cursor: pointer;
    background: rgba(27, 18, 55, 1);
    transition: 0.2s cubic-bezier(0.26, 0, 0, 0.99);
}


#input-error {
    color: red;
    font-weight: normal;
    font-size: 12px;
}

.passwordInput{
    position: relative;
}
.show_password{
    border: unset;
    border-radius: 6px;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    height: 60%;
    width: 25px;
    z-index: 999999;
}
.show_password:hover{
    background: rgba(0,0,0,0.15);
    transition: .2s ease-in-out;
}

.password_icon {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: url('../img/show_password.svg');
    background-repeat:no-repeat;
    background-position: center center;
}
.password_icon:hover {
    cursor: pointer;
}

#password_icon_btn {
    display: none;
}

#password_icon_btn:checked + .password_icon {
    background-image: url('../img/hide_password.svg');
}



.show_password:hover {
    cursor: pointer;
}


@media (max-width: 900px) {
    #kc-form-wrapper {
        flex-direction: column-reverse;
        gap: 0;
    }
    form {
        padding: 0px 20px 50px 20px;
        margin-top: -20px;
    }
    .card {
        height: 100px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-image: url('../img/card_mobile.png');
        background-color: unset;
    }
}

@media (max-width: 600px) {
    body {
        padding: 30px 20px;
    }
}

@media (max-width: 450px) {
    body {
        padding: 30px 5%;
    }
    #kc-header-wrapper {
        font-size: 14px;
        padding-left: 30px;
    }
    #kc-header-wrapper::before {
        height: 24px;
        width: 24px;
    }

    #kc-content {
        min-width: 250px;
        width: 90%;
    }

    form { 
        width: 100%;
    }
    .card {
        width: 100%;
        background-position: top left;
        background-size: unset;
    }
   
}
